.container {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs {
  border-bottom: none;
}

.cart-button {
  margin-right: 0;
  margin-left: auto;
}

.cart-btn {
  padding: 5px 25px;
}

.user {
  margin-right: 0;
  margin-left: auto;
}

.user h5 {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0;
}

.nav-tabs .nav-link {
    color: #000;
}